/*
 orange color:   #e67e22
grey color: #ccc
grey color dark: #555
*/

/*------------------------------------------------*/
/*BASIC SETUP*/
/*------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    background-color: #fff;
    color:#555;
    font-family: "Arial", sans-serif;
    font-size:20px;
    font-weight: 300;
    text-rendering:optimizelegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1}
.clearfix:after {
    content:'.';
    clear:both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*------------------------------------------------*/
/*REUSABLE COMPONENTS*/
/*------------------------------------------------*/
.row {
    max-width: 1140px;
    margin: 0 auto;  
}

section {
    padding: 80px 0;
}
.box {
    padding:1%;
}

/*------------------------------------------------*/
/*HEADINGS*/
/*------------------------------------------------*/

h1, 
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
    
}

h1 {
    margin-top:0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}


h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px
}
/*------------------------------------------------*/
/*PARAGRAPHS*/
/*------------------------------------------------*/
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p {
    font-size: 90%;
    line-height: 145%; 
}

/*------------------------------------------------*/
/*ICONS*/
/*------------------------------------------------*/
.icon-big {
    font-size: 350%;
    text-align: center;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    margin-right: 10px;
    
/*    Secrets to align text and icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}

/*-----------LINKS----------*/
a:link,
a:visited {
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
}
/*------------------------------------------------*/
/*BUTTONS*/
/*------------------------------------------------*/
.btn:link,
.btn:visited, 
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}
   
.btn-full:link,
.btn-full:visited,
input[type=submit] {
      background-color: #e67e22;
      border: 1px solid #e67e22;
      color: #fff;
      margin-right: 15px;
}


.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #cf6d17;
}


btn-full:hover,
.btn-full:active {
      border: 1px solid #22e6aa;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #e67e22;
    color: #fff;
}


/*------------------------------------------------*/
/*HEADER*/
/*------------------------------------------------*/
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    background-size:cover;
    background-position:center;
    height: 100vh; 
    background-attachment: fixed;
}

.hero-text-box { 
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.logo {
    height: 60px;
    width: 50;
    float:left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-nav {
    float:right;
    list-style: none;
    margin-top: 45px; 
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
} 

.main-nav li a:link, 
.main-nav li a:visited {
    padding: 8px 0;
    color: #555;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

.sticky {
    position:fixed;
    background-color:#fff;
    z-index: 1000;
    top:0;
    left:0  ;
    width: 100%
}

/*------------------------------------------------*/
/*FEATURES*/
/*------------------------------------------------*/

.section-features .long-copy {
    margin-bottom: 30px;
}

/*------------------------------------------------*/
/*MEALS*/
/*------------------------------------------------*/


.section-meals {
    padding: 0;
}
.meals-showcase {
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    display: block;
    float:left;
    width: 25%;
}
.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.meal-photo img {
    width: 100%;
    opacity: 0.7;
    height:auto;
    transform: scale(1.15);
    margin-bottom: 10px;
    transition: transform 0.5s, opacity 0.5s;
   
}

.meal-photo img:hover {
    opacity: 1;
    transform: scale(1.2); 
}


/*------------------------------------------------*/
/*HOW IT WORKS*/
/*------------------------------------------------*/

.section-steps {
    background: #f2f2f2;
    
}
.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}

.steps-box:last-child {
    padding-left: 3%;
    margin-top: 93px; 
}

.app-screen {
    width: 40%;
}

.work-steps {
    margin-bottom: 50px;
}
.work-steps:last-of-type {
    margin-bottom: 80px;
}
.work-steps div {
    color: #e67e22;
    border: 2px solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float:left;
    font-size: 150%;
    margin-right: 25px;
}

.btn-app:link,
btn-app:visited {
    border: 0;
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}


/*------------------------------------------------*/
/*FORM*/
/*------------------------------------------------*/

.contact-form {
    width: 60%;
    margin: 0 auto;  
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}
   
*:focus {
    outline: none;
}

/*------------------------------------------------*/
/*CITIES*/
/*------------------------------------------------*/
.box img{
    width:100%;
    height:auto;
    margin-bottom: 15px;
}

.city-features {
    margin-bottom: 5px;
}



/*------------------------------------------------*/
/*TESTIMONIALS*/
/*------------------------------------------------*/
.section-testimonials {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)),url(img/back-customers.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    font-weight: 900;
    position: relative;
}

blockquote:before {
    content: "\201C";
    font-size: 300%;
    display: block;
    position: absolute;
    top: -10px;
    left: -5px;
}

cite {
    display: block;
    font-size: 70%;
    margin-top: 25px;
}


cite img {
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
     vertical-align: middle;
}

/*------------------------------------------------*/
/*SIGN UP*/
/*------------------------------------------------*/
.section-plans {
    background-color: #f2f2f2;
}

.plan-box {
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 5px 10px #ccc;
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}

.plan-box div:first-child {
    background-color: #fafafa;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.plan-box div:last-child {
    text-align: center;
    border-bottom: 0;
}

.plan-price {
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #e67e22; 
}

.plan-price span {
    font-size: 30%;
    font-weight: 300;
}

.plan-price-meal {
    font-size: 80%;
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li {
     padding: 5px 0;
}


/*---- FOOTER -----*/
footer {
    background-color: #1f1d1d; 
    padding: 50px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
    color: #fff;
}
.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav a:link,
.footer-nav a:visited,
.social-links a:link, 
.social-links a:visited {
    text-decoration: none;
    color: #333;
    border: 0;
    transition: color 0.2s;
}

.footer-nav a:hover,
.footer-nav a:active {
    color: #ddd;
}

.social-links a:link,
.social-links a:visited {
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-gooleplus,
.ion-social-instagram {
    transition: color 0.2s;
}
.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #00aced;
}

.ion-social-googleplus:hover {
    color: #dd4b39;
}

.ion-social-instagram:hover {
    color: #517fa4;
}
footer p {
    color: #888;
    text-align: center;
    margin-top: 30px;
}

    
   

